@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,600;&display=swap");
:root {
  --main:#fff;
  --second:#e0e0e0;
  /* Background */
  --gradient1:#9A8D85;
  --gradient2:#6B7D81;
  --gradient3:#494952;
  /* shadow */
  --shadow:3px 3px 8px rgba(0, 0, 0, 0.4) ;
}

body {
  background: linear-gradient(130deg, var(--gradient1) 0%, var(--gradient2) 50%, var(--gradient3) 100%);
  background-attachment: fixed;
  margin: 0;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}

.box {
  margin: auto;
  margin-top: 1.5rem;
}
.box .box-color {
  background: var(--main);
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: var(--shadow);
}
.box .box-color-title {
  font-weight: 600;
  color: var(--gradient3);
}
.box .box-color-left {
  border-left: 2.5rem solid var(--gradient1);
  transition: ease-in 0.3s;
}
.box .box-color-left:hover {
  border-left: 2.5rem solid var(--gradient2);
  transition: ease-out 0.05s;
}
.box .box-color-right {
  border-right: 2.5rem solid var(--gradient3);
  transition: ease-in 0.3s;
}
.box .box-color-right .box-color-title {
  text-align: right;
}
.box .box-color-right:hover {
  border-right: 2.5rem solid var(--gradient2);
  transition: ease-out 0.05s;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  transition: ease-in 0.3s;
}
.card:hover {
  transition: ease-out 0.05s;
}
.card-grey {
  background: var(--second);
  background-color: var(--second);
  box-shadow: inset var(--shadow);
}
.card-white {
  background: var(--second);
  box-shadow: var(--shadow);
}

.section {
  padding: 4rem;
}
.section-white {
  background: var(--main);
}
.section-white .title-text {
  color: var(--gradient1);
}
.section-white .title-decoration {
  background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 50%, var(--gradient3) 100%);
}
.section-transparent {
  background: transparent;
}
.section-transparent .title-text {
  color: var(--main);
  order: 2;
}
.section-transparent .title-decoration {
  background: var(--main);
  order: 1;
}

.title {
  display: flex;
  align-items: center;
}
.title-text {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 20;
  letter-spacing: 5px;
  margin: 2rem;
  margin-top: 0;
}
.title-decoration {
  height: 5px;
  width: 100%;
  margin: 2rem;
  margin-top: 0;
  flex: 1;
}

.about {
  display: flex;
  gap: 4rem;
}
.about img {
  width: 40%;
}
.about .box {
  width: 60%;
}

.competences {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.competence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.competence-img {
  width: 100px;
}
.competence-rate {
  display: flex;
  justify-content: center;
  color: var(--gradient2);
}

.box-color-right .competences {
  justify-content: flex-end;
}

.formation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.formation img {
  width: auto;
  height: 150px;
}
.formation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formation-info-title {
  color: var(--gradient2);
  font-size: 1.75rem;
  margin: 0;
}
.formation-info-date {
  font-weight: 600;
  margin: 10px 20px;
}
.formation-info-desc {
  margin: 10px 0 0 0;
}

.header {
  position: sticky;
  top: 0;
  background: var(--main);
  padding: 0.75rem 2.5rem;
  box-shadow: var(--shadow);
}
.header .header-nav {
  display: flex;
  position: sticky;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem 0 -1.5rem 0;
  list-style: none;
}
.header .header-link {
  background: var(--gradient3);
  color: var(--main);
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow);
  color: var(--main);
  text-decoration: none;
  transition: ease-in 0.3s;
}
.header .header-link:hover {
  background: var(--gradient2);
  transition: ease-out 0.05s;
}

.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.work-img {
  height: 200px;
  object-fit: cover;
  transition: ease-in 0.3s;
}
.work-img:hover {
  filter: grayscale(70%);
  z-index: 0;
  transition: ease-out 0.05s;
}
.work-category {
  z-index: 1;
  margin: -1.5rem 0.5rem -1rem 0.5rem;
  display: flex;
  gap: 0.25rem;
}
.work-category-btn {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background: var(--gradient2);
  color: var(--main);
}
.work-content {
  padding: 0 1rem;
  flex: 1;
}
.work-content-title {
  color: var(--gradient3);
}
.work-content-text {
  height: 65px;
  overflow-y: auto;
  scrollbar-width: none;
}

.visitButton {
  display: flex;
  gap: 0.75rem;
}
.visitButton a {
  flex: 1;
  background: var(--gradient3);
  color: var(--main);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: ease-out 0.5s;
  margin: 0;
  transition: ease-in 0.3s;
}
.visitButton a:hover {
  background: var(--gradient1);
  transition: ease-out 0.05s;
}

/*# sourceMappingURL=style.css.map */
