.competences{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom:1rem;
    &-flex{
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        & .box:nth-child(1){
            flex:1 0 100%
        }
    }
}
.competence{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img{
        width:100px;
    }
    &-rate{
        display: flex;
        justify-content: center;
        color:var(--gradient2);
    }
}