.competences{
    display: flex;
    flex-wrap: wrap;
    column-gap:1rem;
    margin-bottom:1rem;
}
.competence{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img{
        width:100px;
    }
    &-rate{
        display: flex;
        justify-content: center;
        color:var(--gradient2);
    }
}

.box-color-right .competences{
    justify-content: flex-end;
}