:root{
    --main:#fff;
    --second:#ecebf1;
    /* Background */
    --gradient1:#9A8D85;
    --gradient2:#6B7D81;
    --gradient2lighter:#89999A;
    --gradient3:#494952;
    /* shadow */
    --shadow:3px 3px 8px rgba(0, 0, 0, 0.4)
}