.section{
    padding:4rem;
    &-white {
        background:var(--main);
        box-shadow: var(--shadow);
        .title-text{
            color:var(--gradient1);
        }
        .title-decoration{
            background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 50%, var(--gradient3) 100%);
        }
    }
    &-transparent {
        background:transparent;
        .title-text{
            color:var(--main);
            order:2
        }
        .title-decoration{
            background:var(--main);
            order:1
        }
    }
}

// section title
.title{
    display:flex;
    align-items: center;
    &-text{
        text-transform: uppercase;
        font-size:2rem;
        font-weight:20;
        letter-spacing: 5px;
        margin: 2rem;
        margin-top:0;
    }
    &-decoration{
        height: 5px;
        width:100%;
        margin: 2rem;
        margin-top:0;
        flex:1;
    }
}